body {
    background-color: darkcyan;
}

nav {
    background-color: orange;
    height: 3em;
}
nav li {
    float: left;
    list-style-type: none;
    margin: .5em 1em 0 1em;
    font-family: Arial, Helvetica, sans-serif;

}

/* Colors */

nav li a{
    color: lightblue;
}
nav li a:hover {
    color: pink;
}
h1, h2, h3 {
    color: crimson

/* Main Styles */    
}
main {
    width: 70%;
    float: left;
}
aside {
    width: 30%;
    float: right;
}
h1 {
    text-transform: uppercase;
}

footer {
    background-color: gainsboro;
    color: #ff00ff;
    text-align: center;
    clear: both;
}

.container {
    background-color: wheat;
    width: 90%;
    margin: auto;
}
.auto {
    width: 100%;
}

/* Flex styles */
.flex-container {
    display: flex;
    display: -webskit-flex;
    width: 100%;
    background-color: seagreen;
    justify-content: center;
    -webkit-justify-content: center;
}
.flex-item {
    background-color: hotpink;
    margin: 1em;
}